# Stock Prediction w/scikit learn

#### https://enlight.nyc/projects/stock-market-prediction

In [25]:
import pandas as pd
import numpy as np
import datetime
import quandl

from sklearn.linear_model import LinearRegression
from sklearn import preprocessing, svm
from sklearn.model_selection import train_test_split

In [28]:
# df = pd.read_csv('data/MUFG-orig.csv')
df = pd.read_csv('data/IBM.csv')

In [29]:
df.head()

         Date      Open      High       Low     Close  Adj Close  Volume
0  1962-01-02  7.374124  7.374124  7.291268  7.291268   1.591517  407940
1  1962-01-03  7.291268  7.355003  7.291268  7.355003   1.605428  305955
2  1962-01-04  7.355003  7.355003  7.278521  7.281708   1.589431  274575
3  1962-01-05  7.272148  7.272148  7.125558  7.138305   1.558129  384405
4  1962-01-08  7.131931  7.131931  6.947100  7.004461   1.528913  572685

In [30]:
df = df[['Adj Close']]

In [31]:
forecast_out = int(30) # predicting 30 days into future
df['Prediction'] = df[['Adj Close']].shift(-forecast_out) #  label column with data shifted 30 units up

In [33]:
X = np.array(df.drop(['Prediction'], 1))
X = preprocessing.scale(X)

/tmp/ipykernel_133/3918799790.py:1: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.
  X = np.array(df.drop(['Prediction'], 1))

### Set a new input variable to these days and remove them from the X array.

In [34]:
X_forecast = X[-forecast_out:] # set X_forecast equal to last 30
X = X[:-forecast_out] # remove last 30 from X

### To define our y, or output, we will set it equal to our array of the Prediction values and remove the last 30 days where we donâ€™t have any pricing data.

In [35]:
y = np.array(df['Prediction'])
y = y[:-forecast_out]

## Linear regression model

### Split the data into training and test sets.

In [36]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2)

In [37]:
# Training
clf = LinearRegression()
clf.fit(X_train,y_train)
# Testing
confidence = clf.score(X_test, y_test)
print("confidence: ", confidence)

confidence:  0.9897617981474935

In [38]:
forecast_prediction = clf.predict(X_forecast)
print(forecast_prediction)

[124.22016894 124.18080822 125.28296311 124.73188617 124.41698349
 123.50180397 121.8190526  120.95307197 122.01586714 121.7698517
 121.20127889 122.04913922 120.93196222 122.86707503 123.38577165
 123.48551805 125.72985685 126.16875276 127.27595991 127.51535405
 128.19363613 125.69993333 126.77721795 128.90185569 129.49036821
 128.60260753 129.82952371 132.42297291 132.64242037 132.69229755]

In [45]:
X_forecast

array([[1.98870359],
       [1.98778606],
       [2.01347823],
       [2.00063216],
       [1.9932915 ],
       [1.97195788],
       [1.9327315 ],
       [1.91254475],
       [1.93731942],
       [1.93158459],
       [1.91833067],
       [1.93809502],
       [1.91205266],
       [1.95716181],
       [1.96925307],
       [1.97157824],
       [2.02389571],
       [2.03412675],
       [2.0599367 ],
       [2.06551719],
       [2.08132853],
       [2.02319817],
       [2.0483106 ],
       [2.09783773],
       [2.11155647],
       [2.090862  ],
       [2.11946247],
       [2.179918  ],
       [2.18503351],
       [2.18619619]])

In [44]:
clf.predict(X_forecast)

array([124.22016894, 124.18080822, 125.28296311, 124.73188617,
       124.41698349, 123.50180397, 121.8190526 , 120.95307197,
       122.01586714, 121.7698517 , 121.20127889, 122.04913922,
       120.93196222, 122.86707503, 123.38577165, 123.48551805,
       125.72985685, 126.16875276, 127.27595991, 127.51535405,
       128.19363613, 125.69993333, 126.77721795, 128.90185569,
       129.49036821, 128.60260753, 129.82952371, 132.42297291,
       132.64242037, 132.69229755])